name: Subir Imagen de docker a GHCR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build y push Frontend y backend
        run: |
          echo ${{ secrets.GH_PAT }} | docker login ghcr.io -u MarcosC1266 --password-stdin
          docker build ./master-workshop-frontend -t ghcr.io/marcosc1266/master-workshop-frontend:latest
          docker build ./master-workshop-api -t ghcr.io/marcosc1266/master-workshop-api:latest
          docker push ghcr.io/marcosc1266/master-workshop-frontend:latest
          docker push ghcr.io/marcosc1266/master-workshop-api:latest
